[TV]
SerialPort: /dev/ttyUSB0
BaudRate: 9600
SleepTimeSec: 360

[Active]
keg1: EG
keg2: AC 
keg3: AC
keg4: AC
keg5: AC

[AC]
Name: N/A
Brewery: N/A
Type: N/A
ABV: N/A
IBU: N/A
CostOfKeg: 95.99
KegSizeL: .228
PurchaseDate: 05112018
Logo: empty_keg.png

[AA]
Name: N/A
Brewery: N/A
Type: N/A
ABV: N/A
IBU: N/A
CostOfKeg: 95.99
KegSizeL: 20
PurchaseDate: 05112018
Logo: empty_keg.png

[AB]
Name: Cold Brew Coffee
Brewery: Warehouse
Type: Coffee
ABV: 0.0%
IBU: 0
CostOfKeg: 80
KegSizeL: 20
PurchaseDate:05132022
Logo: peets.png

[BA]
Name: Cold Brew Coffee
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 80
KegSizeL: 20
PurchaseDate:05132022
Logo: peets.png

[DD]
Name: Cold Brew Coffee
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 80
KegSizeL: 20
PurchaseDate:05132022
Logo: Seldo_venmo.png

[DC]
Name: Substance
Brewery: Bissell Brothers
Type: Hazy IPA
ABV: 6.6
IBU: 80
CostOfKeg: 150
KegSizeL: 20
PurchaseDate:05132022
Logo: Bissell_brothers.png

[DE]
Name: Allagash White
Brewery: Allagash
Type: Witbier
ABV: 5.2
IBU: 13
CostOfKeg: 110
KegSizeL: 20
PurchaseDate:05132022
Logo: allagash-brewing-company.png

[DF]
Name: Summer Lager
Brewery: Sam Adams
Type: Idk its beer dont ask
ABV: 5.3
IBU: 7
CostOfKeg: 110
KegSizeL:20
PurchaseDate: 05252022
Logo: fat_tire.png

[DG]
Name: House Lager
Brewery: Jack's Abby
Type: Helles Lager
ABV: 5.2
IBU: 18
CostOfKeg: 85
KegSizeL:20
PurchaseDate: 06122022
Logo: JacksAbby.png

[DH]
Name: Dunks for Days
Brewery: Skahan Brewing
Type: Dunkles Bock
ABV: 7.9
IBU: 21
CostOfKeg: 100
KegSizeL: 20
PurchaseDate: 07012022
Logo: ChrisS_Venmo.png

[DJ]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:10222023
Logo: peets.png

[DK]
Name: Solace Lucy Juicy
Brewery: Solace
Type:Double IPA
ABV:8.5
IBU: 50
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 09232023
Logo: Solace.png

[DL]
Name: Oktoberfest
Brewery: Port City
Type: Marzen/Octoberfest
ABV: 5.5
IBU: 15
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 09232023
Logo: portCity.png

[DM]
Name: 60 Minute IPA
Brewery: Dogfish Head
Type: IPA
ABV: 6
IBU: 60
CostOfKeg: 1
KegSizeL: 30
PurchaseDate: 10262023
Logo: dogfish.png

[DN]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:11012023
Logo: peets.png

[DO]
Name: Solace Lucy Juicy
Brewery: Solace
Type:Double IPA
ABV:8.5
IBU: 50
CostOfKeg: 145
KegSizeL: 20
PurchaseDate: 01142024
Logo: Solace.png

[DP]
Name: Belgian White
Brewery: Blue Moon
Type: Belgian Style Wheat Ale
ABV:5.4
IBU: 13
CostOfKeg: 99
KegSizeL: 20
PurchaseDate: 01142024
Logo: Bluemoon.png

[DQ]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:04152024
Logo: peets.png

[DR]
Name: Solace Lucy Juicy
Brewery: Solace
Type:Double IPA
ABV:8.5
IBU: 50
CostOfKeg: 150
KegSizeL: 20
PurchaseDate: 05162024
Logo: Solace.png

[DS]
Name: Vienna Lager
Brewery: Devil's Backbone
Type:Double IPA
ABV:5.2
IBU: 18
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 05162024
Logo: Devils_Backbone.png 

[DT]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08062024
Logo: peets.png

[DU]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08302024
Logo: peets.png

[DV]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:10282024
Logo: peets.png

[DW]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:12122024
Logo: peets.png

[DX]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:02202025
Logo: peets.png

[DY]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:05012025
Logo: peets.png

[DZ]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:06062025
Logo: peets.png

[EA]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:06252025
Logo: peets.png

[EB]
Name: Solace Cheat Day
Brewery: Solace
Type:NE Hazy IPA
ABV:6.7
IBU: 50
CostOfKeg: 220
KegSizeL: 20
PurchaseDate: 06272025
Logo: Solace.png

[EC]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:07252025
Logo: peets.png

[ED]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08222025
Logo: peets.png

[EE]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08222025
Logo: peets.png

[EF]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08222025
Logo: peets.png

[EG]
Name: Peet's Major Ds
Brewery: Warehouse
Type: Coffee
ABV: N/A
IBU: 0
CostOfKeg: 45 
KegSizeL: 20
PurchaseDate:08222025
Logo: peets.png

