[TV]
SerialPort: /dev/ttyUSB0
BaudRate: 9600
SleepTimeSec: 360

[Active]
keg1: DD
keg2: AC
keg3: AC
keg4: AC
keg5: AC

[AA]
Name: Fresh Squeezed IPA
Brewery: Deschutes
Type: Citrus IPA
ABV: 4.9%
IBU: 25
CostOfKeg: 86.99
KegSizeL: 20
PurchaseDate: 05112018
Logo: deschutes_brewery.png

[AB]
Name: Black Ox
Brewery: Old Ox
Type: Rye Porter
ABV: 5.2%
IBU: 40
CostOfKeg: 99.99
KegSizeL: 20
PurchaseDate: 05112018
Logo: old_ox.png

[AC]
Name: N/A
Brewery: N/A
Type: N/A
ABV: N/A
IBU: N/A
CostOfKeg: 95.99
KegSizeL: 20
PurchaseDate: 05112018
Logo: empty_keg.png

[AD]
Name: Gold Cup
Brewery: Old Bust Head
Type: Russian Imp. Stout
ABV: 10.0%
IBU: 63
CostOfKeg: 130.00
KegSizeL: 20
PurchaseDate: 06172018
Logo: oldbusthead.png

[AE]
Name: Face Plant
Brewery: Lost Rhino
Type: IPA
ABV: 6.8%
IBU: 65
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 06222018
Logo: lost_rhino.png

[AF]
Name: Big Wave
Brewery: Kona
Type: Golden Ale
ABV: 4.4%
IBU: 20
CostOfKeg: 95
KegSizeL: 20
PurchaseDate: 06172018
Logo: kona.png

[AG]
Name: Guinness
Brewery: Guinness
Type: Stout-Irish Dry
ABV: 4.2%
IBU: 45
CostOfKeg: 119
KegSizeL: 20
PurchaseDate: 07202018
Brewery: Kona
Type: Golden Ale
ABV: 4.4%
IBU: 20
CostOfKeg: 95
KegSizeL: 20
PurchaseDa
te: 06172018
Logo: kona.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AJ]
Name: Fresh Squeezed IPA
Brewery:
Logo: guinness.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AJ]
Name: Fresh Squeezed IPA
Brewery: Deschutes
Type: Citrus IPA
ABV: 4.9%
IBU: 25
CostOfKeg: 89.99
KegSizeL: 20
PurchaseDate: 09212018
Logo: deschutes_brewery.png

[AL]
Name: Punkin
Brewery: D
ogfish Head
Type: Pumpkin Brown
ABV: 7.0%
IBU: 28
CostOfKeg: 99
KegSizeL: 20
PurchaseDate: 09202018
Logo: dogfish_head_punkin.png

[AM]
Name: Bud Light
Brewery: Dilly Dilly
Type: Beer Flavored Water
ABV: 4.2%
IBU: 27
CostOfKeg: 99
KegSizeL: 27
PurchaseDate: 10262018
Logo: dilly_dilly.png

[AN]
Name: Fat Tire
Brewery: New Belgium
Type: American Amber
ABV: 5.2%
IBU: 18.5
CostOfKeg: 199
KegSizeL: 55
PurchaseDate: 10262018
Logo: fat_tire.png

[AO]
Name: Apfelwein
Brewery: Abandon Expectations
Type: German Hard Cider
ABV: 8.5%
IBU: 0
CostOfKeg: 50
KegSizeL: 20
PurchaseDate: 11092018
Logo: the_apple_tree.png

[AP]

Name: 60-Minute IPA
Brewery: Dogfish Head
Type: IPA
ABV: 6.0%
IBU: 60
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 01012019
Logo: dogfish.png
Brewery: Kona
Type: Golden Ale
ABV: 4.4%
IBU: 20
CostOfKeg: 95
KegSizeL: 20
PurchaseDate: 06172018
Logo: kona.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AQ]
Name: Virginia Apple
Brewery: Bold Rock
Type: Hard Cider
ABV: 4.7%
IBU: 0
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 01012019
Logo: bold-rock-hard-cider.png

[AR]
Name: Fat Tire
Brewery: New Belgium
Type: American Amber
ABV: 5.2%
IBU: 18.5
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 01012019
Logo: fat_tire.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AV]
Name: 2 Legit 2 Wit
Brewery: Solace
Type: Belgian
ABV: 5.2%
IBU: 0
CostOfKeg: 89
KegSizeL: 20
PurchaseDate: 03015019
Logo: Solace.png

[AW]
Name: Nugget Nectar
Brewery: Troegs
Type: American Strong
ABV: 7.5%
IBU: 93
CostOfKeg: 94
KegSizeL: 20
PurchaseDate: 03015019
Logo: troegs-nugget-nectar.png 

[AY]
Name: Apfelwein
Brewery: Abandon Expe
Brewery: Kona
Type: Golden Ale
ABV: 4.4%
IBU: 20
CostOfKeg: 95
KegSizeL: 20
PurchaseDate: 06172018
Logo: kona.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AJ]
Name: Fresh Squeezed IPA
Brewery:ctations
Type: German Hard Cider
ABV: 8.5%
IBU: 0
CostOfKeg: 50
KegSizeL: 20
PurchaseDate: 03212019
Logo: the_apple_tree.png

[AZ]
Name: NVP 
Type: Dark Roast
ABV: 0.0%
IBU: 0

Brewery: Breckenridge
Type: Vanilla Porter 
ABV: 5.4%
IBU: 16
CostOfKeg: 215
KegSizeL: 60
PurchaseDate: 04192019
Logo: breckenridge_brewery.png


[BC]
Name: Fresh Squeezed IPA
Brewery: Deschutes
Type: Citrus IPA
ABV: 4.9%
IBU: 25
CostOfKeg: 89.99
Brewery: Kona
Type: Golden Ale
ABV: 4.4%
IBU: 20
CostOfKeg: 95
KegSizeL: 20
PurchaseDate: 06172018
Logo: kona.png

[AG]
Name: Guinness
Brewery: Guinness
Type: Stout-Irish Dry
ABV: 4.2%
IBU: 45
CostOfKeg: 119
KegSizeL: 20
PurchaseDate: 07202018
Logo: guinness.png

[AH]
Name: Major D.
Brewery: Peet's
Type: Dark Roast
ABV: 0.0%
IBU: 0
CostOfKeg: 40
KegSizeL: 20
PurchaseDate: 07202018
Logo: peets.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AJ]
Name: Fresh Squeezed IPA
Brewery:
KegSizeL: 20
PurchaseDate: 05102019
Logo: deschutes_brewery.png
Type: Dark Roast
ABV: 0.0%
IBU: 0


[BD]
Name: Space Dust
Brewery: Elysian
Type: DIPA
ABV: 8.2%
IBU: 73
CostOfKeg: 99.99
KegSizeL: 20
PurchaseDate: 05102019
Logo: elysian_spacedust.png


[AG]
Name: Guinness
Brewery: Guinness
Type: Stout-Irish Dry
ABV: 4.2%
IBU: 45
CostOfKeg: 119
KegSizeL: 20
PurchaseDate: 07202018
Logo: guinness.png

[AI]
Name: Heart and Soul
Brewery: Crooked Run
Type: American IPA
ABV: 6.5%
IBU: 30
CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 08142018
Logo: crooked_run.png

[AJ]
Name: Fresh Squeezed IPA
Brewery:
PurchaseDate: 06182019
Logo: peets.png


[BL]
Name: Citra
Brewery: Caboose
Type: IPA
ABV: 5.1%
IBU: 38
CostOfKeg: 89
KegSizeL: 20
PurchaseDate: 08232019
Logo: caboose.png

[BM]
Name: Fat Tire
Brewery: New Belgium
Type: American Amber
ABV: 5.2%
IBU: 18.5
CostOfKeg: 89
KegSizeL: 20
PurchaseDate: 08232019
Logo: fat_tire.png

[BN]
Name: SeaQench
Brewery: Dogfish Head
Type: Sour
ABV: 4.9%
IBU: 10
CostOfKeg: 99
KegSizeL: 20
PurchaseDate: 08232019
Logo: dogfish.png

[BU]
Name: 90-Minute IPA
Brewery: Dogfish Head
Type: IPA
ABV: 9.0%
IBU: 90
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 01012019
Logo: dogfish.png

[BV]
Name: Breakfast Stout
Brewery: Founders
Type: Stout
ABV: 8.3%
IBU: 60
CostOfKeg: 140
KegSizeL: 30
PurchaseDate: 11012019
Logo: founders.png

[BW]
Name: Luicy Juicy
Brewery: Solace
Type: DIPA
ABV: 8.0%
IBU: 90
CostOfKeg: 140
KegSizeL: 20
PurchaseDate: 11012019
Logo: Solace.png

[CB]
Name: Final Glide
Brewery: Lost Rhino
Type: Hefewiesen
ABV: 5.4%
IBU: 0
Type: Dark Roast
ABV: 0.0%
IBU: 0

CostOfKeg: 105
KegSizeL: 20
PurchaseDate: 01242020
Logo: lost_rhino.png

[CC]
Name: Vienna (VA) Lager
Brewery: Caboose
Type: Vienna Style Lager
ABV: 5.3%
IBU: 22
Type: Dark Roast
ABV: 0.0%
IBU: 0

CostOfKeg: 90
KegSizeL: 20
PurchaseDate: 01242020
Logo: caboose.png

[CD]
Name: Pernicious IPA
Brewery: Wicked Weed
Type: American IPA
ABV: 7.3%
IBU: 70
CostOfKeg: 120
KegSizeL: 20
PurchaseDate: 01242020
Logo: wicked_weed.png

[CE]
Name: Peet's Major D.
Brewery: BITS
Type: Dark Roast
ABV: 0.0%
IBU: 0
CostOfKeg: 40
KegSizeL: 20
PurchaseDate: 02052020
Logo: peets.png
Type: Dark Roast
ABV: 0.0%
IBU: 0


[CF]
Name: Peet's Major D.
Brewery: BITS
IBU: 
CostOfKeg: 84
KegSizeL: 20
PurchaseDate: 07032020
Logo: troegs.png


[CV]
Name: Starbucks Holiday Blend
Brewery: BITS
Type: Dark Roast
Type: Dark Roast
ABV: 0.0%
IBU: 0
CostOfKeg: 40
KegSizeL: 20
PurchaseDate: 02192020
Logo: peets.png

[CG]
Name: Peet's Major D.
Brewery: BITS
Type: Dark Roast
ABV: 0.0%
IBU: 0
CostOfKeg: 40
KegSizeL: 20
PurchaseDate: 03032020
Logo: peets.png

[CH]
Name: Apfelwein
Brewery: Abandon Expectations
Type: German Hard Cider
ABV: 8.5%
IBU: 0
CostOfKeg: 80
KegSizeL: 20
PurchaseDate: 04242020
Logo: the_apple_tree.png

[CI]
Name: Tropicannon
Brewery: Heavy Seas
Type: Citra IPA
ABV: 7.25%
IBU: 45
CostOfKeg: 105
KegSizeL: 20
PurchaseDate: 07032020
Logo: heavy_seas.png

[CJ]
Name: Minute Man 
Brewery: Three Notch'd
Type: New England IPA
ABV: 7.0%
IBU: 20
CostOfKeg: 110
KegSizeL: 20
PurchaseDate: 07032020
Logo: three_notchd.png

[CK]
Name: Haze Charmer 
Brewery: Troegs
Type: American Pale Ale
ABV: 5.5%
IBU: 
CostOfKeg: 84
KegSizeL: 20
PurchaseDate: 07032020
Logo: troegs.png


[CV]
Name: Starbucks Holiday Blend
Brewery: BITS
Type: Dark Roast
ABV: 0.0%
IBU: 0
CostOfKeg: 40
KegSizeL: 20
PurchaseDate: 11022021
Logo: peets.png

[CW]
Name: Italian Stallion
Brewery: Skahan Brewing, Inc.
Type: Italian Pilsner
ABV: 6.2%
IBU: 23
CostOfKeg: 100
KegSizeL: 20
PurchaseDate: 11012021
Logo: 

[DD]
Name: Peet's Major D.
Brewery: BITS
ABV: 0.0%
IBU: 0
CostOfKeg: 84
KegSizeL: 20
PurchaseDate: 07032020
Logo: troegs.png

